<% if (site.categories.length){ %>
  <aside class="widget">
    <h3 class="widget-title">公众号</h3>
    <div class="widget-content">
      <p><%= theme.wechat_intro %></p>
      <p><img src="<%= theme.wechat_img %>" style="width:100%;background:rgba(255,255,255,0.6)"></p>
    </div>
  </aside>
<% } %>