<% if (!index && post.comments && theme.waline_comment){ %>
<section id="comments">
  <div id="waline"></div>
    <script src="//unpkg.com/@waline/client@v2/dist/waline.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css"/>

  <script>
      Waline.init({
        el: '#waline',
        serverURL: 'https://waline-p1hwb9itf-pokoai.vercel.app',
      });
  </script>
</section>
<% } %>






